
body,
html {
  font-family: "AIMSAFONT", sans-serif !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

h2,
h3,
h4 {
  font-family: "AIMSAFONT", "Raleway", sans-serif;
}

h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 15px;
}

p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: #608dfd;
  font-weight: 400;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}

ul,
ol {
  list-style: none;
}

ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}

/* Navigation */
/* Navigation container */
#menu {
  padding: 15px;
  transition: all 0.8s;
}

#menu.navbar-default {
  background-color: #0a1e53;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 15px 15px;
}

/* Navigation items */
.nav-item-link {
  background: none;
  border: none;
  padding: 8px 2px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  display: block;
  line-height: 20px;
  font-family: "AIMSAFONT","Lato", sans-serif;
  margin: 0px 20px 0;
  position: relative;
  z-index: 1;
}

/* Underline effect */
.nav-item-link::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  content: "";
  transition: width 0.2s;
  z-index: -1;
}

.nav-item-link:hover::after,
.nav-item-link.active::after {
  width: 100%;
}


/* Logo */
.imgg {
  width: 125px;
  height: auto;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-item-link {
    padding: 10px 15px;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .navbar-toggle {
    margin: 0;
    border-color: #ffffff;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }

  .navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #5ca9fb;
  }

  .navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #5ca9fb;
  }
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

.section-title p {
  font-size: 18px;
}

.btn-custom {
  font-family: "AIMSAFONT","Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #6372ff;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* FromDesk Section */
.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
  background: url(../img/intro-bg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro h1 {
  font-family: "AIMSAFONT","Raleway", sans-serif;
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.intro h1 span {
  font-weight: 800;
  color: #5ca9fb;
}

.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}

header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
  margin-bottom: 20px;
}

/* Features Section */
#features {
  margin-top: 20px;
  background: #fff;
}

#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.elm {
  background-color: #0a1e53;
  border-radius: 15px;
  padding: 30px;
  margin: 15px 0;
  border: 10px #1f386e;
}

#features img {
  height: 280px;
  width: 280px;
}

.feature-group {
  padding: 30px 0;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.feature-group h3,
.feature-group p {
  color: inherit;
}

.elm h3,
.elm p {
  color: #fff;
}

#features img {
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
}

/* About Section */
#about {
  padding: 100px 0;
}

#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}

#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}

#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}

#about .about-text li:before {
  content: "\f00c";
  font-family: "AIMSAFONT","FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}

#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

#about p {
  line-height: 24px;
  margin: 30px 0;
}

/* Portfolio Section */
#portfolio {
  padding: 100px 0;
}

.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}

.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(to right,
      rgba(99, 114, 255, 0.8) 0%,
      rgba(92, 169, 251, 0.8) 100%);
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.hover-bg .hover-text>h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.hover-bg:hover .hover-text>h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

/* Contact Section */
#contact {
  padding: 100px 0 60px;
  background: linear-gradient(to right, #0a1e53 0%, #0a1e53 100%);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 15px 15px 0px 0px;
}

#contact .section-title {
  margin-bottom: 40px;
}

#contact .section-title p {
  font-size: 16px;
}

#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}

#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}

#contact form {
  padding-top: 20px;
}

#contact .text-danger {
  color: #cc0033;
  text-align: left;
}

#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}

#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: "AIMSAFONT","Open Sans", sans-serif;
  float: left;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #777;
}

.form-control:-moz-placeholder {
  color: #777;
}

.form-control::-moz-placeholder {
  color: #777;
}

.form-control:-ms-input-placeholder {
  color: #777;
}

#contact .contact-item {
  margin: 20px 0;
}

#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}

#contact .contact-item i.fa {
  margin-right: 10px;
}

#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}

#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}

#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}



/* Team Section Start*/
.home-container {
  width: 100%;
  max-width: 1400px;
  height: auto;
  display: grid;
  row-gap: 60px;
  margin-top: 50px;
  padding: 60px;
  overflow-y: auto;
  margin: auto;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
}

.home-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.first-row {
  display: grid;
  grid-template-columns: repeat(3,3fr);
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px;
  justify-items: center;
  align-items: center;
}

.profile-card {
  position: relative;
  width: 220px;
  height: 260px;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;  
  transition: transform 0.4s ease-in-out,box-shadow 0.4s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card:hover {
  transform: scale(1.03); 
  box-shadow: 0 0px 32px rgba(0, 255, 255, 0.4); 
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-card .img img {
  object-fit: fill;
  width: 100%;
  border-radius: 10px;
  transition: all 0.4s;
  z-index: 99;
  transform: translateY(-70px);
}

.caption {
  text-align: center;
  transform: translateY(-115px);
  opacity: 1;
  transition: all 0.5s;
}

.caption h3 {
  font-size: 21px;
  color: #0c52a1;
  font-weight: 600;
}

.caption p {
  font-size: 15px;
  font-weight: 500;
  margin: 2px 0 12px 0;
}

.caption .social-links {
  margin-top: 10px;
}

.social-jr{
  position: absolute;
  top: 70px;
  left: 20px;
}

.caption-jr{
  padding-top: 5px ;
}
.caption .social-links i {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  color: #333;
  transition: all 0.4s;
}

.jr-home-container{
  margin-top: 70px;
}

.jr{

}

.caption .social-links i:hover {
  color: #0c52a1;
}

/* Image Skeleten */
.skeleton-image {
  width: 100%;
  height: 80%;
  position:absolute;
  margin-top: -70px;
  top: 0;
  background: linear-gradient(
    90deg,
    #f0f0f0 25%,
    #e0e0e0 50%,
    #f0f0f0 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 50%;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Responsiveness */
@media screen and (max-width: 1200px) {
  .home-container {
    padding: 30px;
  }

  .team-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .first-row {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

@media screen and (max-width: 900px) {
  .home-container {
    padding: 20px;
  }

  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .first-row {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .home-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .first-row {
    margin-top: 80px;
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }
}

/* End of the Team Cards */

/* About Section Container */
.about-section {
  padding: 4rem 0;
  background-color: white;
  color: black;
}

#menu .container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-header::before,
.navbar-header::after {
    content: none !important;
    display: none !important;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  margin: 0 !important;
  margin: 0px;
}

@media (min-width: 768px) {
  .navbar-header {
    width: fit-content;
  }
}

.navbar-brand {
  padding: 0;
  margin: 0 !important;
  height: fit-content;
} 

.navbar-right {
  margin-top: 7px;
}

.about-wrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
}

/* Image Styling */
.about-image {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image-container {
  overflow: hidden;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  height: fit-content;
  width: fit-content;
  border-radius: 15px;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Content Styling */
.about-content {
  flex: 1;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #00e5ff;
  margin-bottom: 1.5rem;
}

.about-text {
  color: black;
  line-height: 1.7;
  margin-bottom: 1rem;
}

/* Cards Grid */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.info-card {
  background: linear-gradient(135deg, #004d7a 0%, #008799 100%);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.info-card:hover {
  border-color: rgba(0, 255, 255, 0.4);
  transform: translateY(-2px);
}

.info-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #00e5ff;
  margin-bottom: 1rem;
}

.info-card p {
  color: #d1d1d1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
  }

  .about-image,
  .about-content {
    width: 100%;
  }

  .cards-grid {
    grid-template-columns: 1fr;
  }

  .about-title {
    font-size: 2rem;
  }
}



/* Animation */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 229, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.4);
  }
}

.info-card:hover {
  animation: glow 1.5s infinite alternate;
}

/*Heder Compoent */
.hero-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
@media (max-width: 768px) {
  .hero-section {
    height: 50vh;
  }
}

.hero-slider {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.content {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
  opacity: 0;
  margin-top: 20%;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  padding: 0 20px;
}

.active .content {
  opacity: 1;
  transform: translateY(0);
}

.content h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content p {
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.1); */
  z-index: 1;
}

.slider-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 3;
}

.nav-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.nav-dot.active {
  background-color: white;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1rem;
  }
}







/* Gallery Container */
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; 
  justify-content: center;
}

/* Card Style */
.portfolio-items .col-sm-6,
.portfolio-items .col-md-4,
.portfolio-items .col-lg-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Card Wrapper */
.portfolio-items div {
  background: #f8f8f8;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  width: 100%;
  max-width: 300px; 
  aspect-ratio: 1; 
  margin: auto;
}

/* Image Styling */
.portfolio-items img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 0.5rem 0.5rem 0 0; 
}

/* Hover Effect */
.portfolio-items div:hover {

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Text Styling */
.portfolio-items div h3,
.portfolio-items div p {
  margin: 1rem 0;
}
