body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  row-gap: 60px;
  margin-top: 50px;
  padding: 60px;
  overflow-y: scroll;
}

.home-container::-webkit-scrollbar {
  width: 10px; /* Set width of the vertical scrollbar */
  height: 8px; /* Set height of the horizontal scrollbar */
}

.home-container::-webkit-scrollbar-thumb {
  background: #0a1e53; /* Thumb color */
  border-radius: 10px; /* Rounded edges for the thumb */
}

.home-container::-webkit-scrollbar-thumb:hover {
  background: #2575fc; /* Thumb color on hover */
}

.home-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
  border-radius: 10px; /* Rounded edges for the track */
}

.profile-card {
  position: relative;
  width: 220px;
  height: 260px;
  background-color: #fff;
  padding: 30px;

  border-radius: 10px;
  box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
  transition: all .4s;
  margin: auto;
}

.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-card .img img {
  object-fit: fill;
  width: 100%;
  border-radius: 10px;
  transition: all .4s;
  z-index: 99;
  transform: translateY(-70px);
}

.caption {
  text-align: center;
  transform: translateY(-105px);
  opacity: 1;
  transition: all .5s;
}

.caption h3 {
  font-size: 21px;
  color: #0c52a1;
  font-weight: 600;
}

.caption p {
  font-size: 15px;
  font-weight: 500;
  margin: 2px 0 12px 0;
}

.caption .social-links i {
  font-size: 21px;
  margin: 0 3px;
  cursor: pointer;
  color: #333;
  transition: all .4s;
}

.caption .social-links i:hover {
  color: #0c52a1;
}